.vs/
Templates/BasicSQLOPs/bin/
Templates/WebAppTest/bin/
Templates/BasicSQLOPs/obj/
Templates/WebAppTest/obj/
Templates/BasicSQLOPs/.vs/
Templates/WebAppTest/.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb