#VS
.vs
front-end/node_modules
front-end/.DS_Store
front-end/dist
front-end/dist-ssr
front-end/*.local
front-end/.vscode
front-end/.history
front-end/.idea
front-end/*.log
front-end/*session.sql
front-end/package-lock.json
front-end/yarn.lock
front-end/stepin-template.session.sql
front-end/docs/.vitepress/cache
front-end/target
front-end/components.d.ts